.filmsList {
  // margin: 0 auto;
  // width: 1230px;
  // height: 862px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: space-between;
  // padding: 40px 90px;
}