.about {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 40px 90px;
  margin-bottom: 100px;
  display: flex;
  &__img {
    width: 386px;
    height: 272px;
  }
  &__image {
    margin-right: 70px;
  }
  &__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #333333;
    margin-bottom: 15px;
  }
  &__description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: #000000;
  }
}